<button
    type="button"
    data-ui-role="sheet-close"
    data-action="click->symfinity--ux-blocks-interactive--sheet#close"
    data-symfinity--ux-blocks-interactive--sheet-target="close"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
