<button
    type="button"
    aria-haspopup="dialog"
    aria-expanded="false"
    data-ui-role="sheet-trigger"
    data-action="click->symfony--ux-blocks-interactive--sheet#open"
    data-symfony--ux-blocks-interactive--sheet-target="trigger"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
