<div
    role="menu"
    hidden
    data-ui-role="context-menu-content"
    data-symfony--ux-blocks-interactive--context-menu-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
