<button
    type="button"
    data-ui-role="drawer-close"
    data-action="click->symfinity--ux-blocks-interactive--drawer#close"
    data-symfinity--ux-blocks-interactive--drawer-target="close"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
