<div
    role="dialog"
    aria-modal="true"
    hidden
    data-ui-role="drawer-content"
    data-symfinity--ux-blocks-interactive--drawer-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
