<button
    type="button"
    aria-haspopup="dialog"
    aria-expanded="false"
    data-ui-role="drawer-trigger"
    data-action="click->symfinity--ux-blocks-interactive--drawer#open"
    data-symfinity--ux-blocks-interactive--drawer-target="trigger"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
