<button
    type="button"
    aria-current="false"
    data-panel="{{ panel }}"
    data-ui-role="stacked-layout-nav-item"
    data-action="click->symfinity--ux-blocks-interactive--stacked-layout-interactive#selectPanel"
    data-symfinity--ux-blocks-interactive--stacked-layout-interactive-target="navItem"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
