<div
    id="{{ outerScope.hover_card_id|default('') }}"
    popover="hint"
    data-ui-role="hover-card-content"
    data-symfinity--ux-blocks-interactive--hover-card-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
