<div
    id="{{ outerScope.dropdown_menu_id|default('') }}"
    popover
    role="menu"
    anchor="{{ outerScope.dropdown_menu_id|default('') }}-trigger"
    data-ui-role="menu"
    data-ui-fragment="blocks.int.dropdown-menu"
    {{ surface_attr|raw }}
    data-symfinity--ux-blocks-interactive--dropdown-menu-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
