<button
    type="button"
    aria-pressed="false"
    data-ui-role="toggle-group-item"
    data-symfony--ux-blocks-interactive--toggle-group-target="item"
    data-action="click->symfony--ux-blocks-interactive--toggle-group#select"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
