<div
    role="tabpanel"
    data-ui-role="tabs-content"
    data-value="{{ value }}"
    {% if not active %}hidden{% endif %}
    aria-hidden="{{ active ? 'false' : 'true' }}"
    data-symfinity--ux-blocks-interactive--tabs-target="panel"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
