<div
    data-ui-role="bento-box-panel-interactive"
    data-ui-fragment="blocks.int.bento-box-panel-interactive"
    data-controller="symfinity--ux-blocks-interactive--bento-box-panel"
    {{ attributes }}
>
    {% component 'BentoBoxPanel' with { boxes: boxes } only %}{% endcomponent %}
</div>
