<div
    data-ui-role="drawer"
    data-ui-fragment="blocks.int.drawer"
    data-controller="symfinity--ux-blocks-interactive--drawer"
    data-symfinity--ux-blocks-interactive--drawer-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
