<div
    data-ui-role="dropdown-menu"
    data-ui-fragment="blocks.int.dropdown-menu"
    data-controller="symfony--ux-blocks-interactive--dropdown-menu"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
