<div
    data-ui-role="filter-chips"
    data-ui-fragment="blocks.int.filter-chips"
    data-controller="symfony--ux-blocks-interactive--filter-chips"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
