<div
    data-ui-role="hover-card"
    data-ui-fragment="blocks.int.hover-card"
    data-controller="symfinity--ux-blocks-interactive--hover-card"
    data-symfinity--ux-blocks-interactive--hover-card-open-delay-value="{{ openDelay }}"
    data-symfinity--ux-blocks-interactive--hover-card-close-delay-value="{{ closeDelay }}"
    data-symfinity--ux-blocks-interactive--hover-card-native-interest-value="{{ hover_card_native_interest ? 'true' : 'false' }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
