<div
    role="menubar"
    data-ui-role="menubar"
    data-ui-fragment="blocks.int.menubar"
    data-controller="symfony--ux-blocks-interactive--menubar"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
