<nav
    role="navigation"
    data-ui-role="navigation-menu"
    data-ui-fragment="blocks.int.navigation-menu"
    data-controller="symfinity--ux-blocks-interactive--navigation-menu"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</nav>
