<div
    data-ui-role="sheet"
    data-ui-fragment="blocks.int.sheet"
    data-controller="symfinity--ux-blocks-interactive--sheet"
    data-symfinity--ux-blocks-interactive--sheet-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
