<div
    data-ui-role="sidebar"
    data-ui-fragment="blocks.int.sidebar"
    data-controller="symfony--ux-blocks-interactive--sidebar"
    data-symfony--ux-blocks-interactive--sidebar-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
