<div
    data-ui-role="tabs"
    data-ui-fragment="blocks.int.tabs"
    data-controller="symfinity--ux-blocks-interactive--tabs"
    data-symfinity--ux-blocks-interactive--tabs-orientation-value="{{ orientation }}"
    data-symfinity--ux-blocks-interactive--tabs-default-value-value="{{ defaultValue }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
