<div
    data-ui-role="toggle-group"
    data-ui-fragment="blocks.int.toggle-group"
    data-controller="symfony--ux-blocks-interactive--toggle-group"
    data-symfony--ux-blocks-interactive--toggle-group-mode-value="single"
    role="group"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
